Flask==3.0.0
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
gunicorn==21.2.0
python-dotenv==1.0.0
bcrypt==4.1.2
RouterOS-api==0.17.0
SQLAlchemy==2.0.48
Werkzeug==3.1.5
WTForms==3.2.1
alembic==1.18.4
requests==2.32.5
